.profileBlock {
  overflow: auto;
  display: flex;
  flex-direction: column;

  height: calc(100vh - 3.75rem);
  padding: 2.25rem 4rem 1.625rem 1.5rem;

  .mainInfo {
    display: flex;
    gap: 2.37rem;
    margin-bottom: 3.3rem;

    .photoBlock {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 192px;
      height: 192px;

      background-color: var(--color-dark-500);
      border-radius: 50%;

      .photo {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }
    }

    .descriptionBlock {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 1.3rem;

      .nameAndSettings {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .statistic {
        display: flex;
        gap: 6.25rem;
      }

      .aboutMe {
        word-break: break-word;
      }
    }
  }

  .postsBlock {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(228px, 1fr));

    .post {
      cursor: pointer;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
