.modalBlock {
  width: 30.75rem;

  .modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 2.25rem;

    .avatar {
      width: 20.75rem;
      height: 21.25rem;
      margin-top: 1.75rem;
      margin-bottom: 2.25rem;
    }

    .savePhoto {
      display: flex;
      justify-content: right;
      width: 100%;
    }

    .mainPhotoInput {
      display: none;
    }
  }
}
