.modalBlock {
  width: 30.75rem;

  .modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 2.25rem;

    .modalError {
      margin-bottom: 1.5rem;
      padding: 0.38rem 3rem;

      text-align: center;

      background: var(--color-danger-900);
      border: 1px solid var(--color-danger-500);
      border-radius: 0.125rem;
    }

    .avatar {
      width: 20.75rem;
      height: 21.25rem;
      margin-top: 1.75rem;
      margin-bottom: 2.25rem;
    }

    .modalImg {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 13.875rem;
      height: 14.25rem;
      margin-bottom: 3.75rem;

      background-color: var(--color-dark-500);
    }

    .savePhoto {
      display: flex;
      justify-content: right;
      width: 100%;
    }

    .mainPhotoInput {
      display: none;
    }
  }
}
