@mixin button() {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  flex-shrink: 0;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  padding: 0.38rem 1.5rem;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-l);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 0.125rem;

  &:focus-visible,
  &:focus {
    outline: 2px solid var(--color-accent-700);
  }
}

.primary {
  @include button;

  background-color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-100);
  }

  &:focus {
    background-color: var(--color-accent-500);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  @include button;

  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-500);
  }

  &:focus-visible,
  &:focus {
    background-color: var(--color-dark-300);
    outline: 1px solid var(--color-accent-300);
  }
}

.outline {
  @include button;

  color: var(--color-accent-700);
  outline: 1px solid var(--color-accent-700);

  &:hover {
    color: var(--color-accent-100);
    outline: 1px solid var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-700);
    outline: 1px solid var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    outline: 1px solid var(--color-accent-900);
  }

  &:focus-visible,
  &:focus {
    color: var(--color-accent-900);
    outline: 2px solid var(--color-accent-900);
  }
}

.text {
  @include button;

  color: var(--color-accent-500);
  border: none;

  &:hover {
    color: var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }

  &:focus-visible,
  &:focus {
    color: var(--color-accent-500);
    outline: 2px solid var(--color-accent-700);
  }
}

.fullWidth {
  width: 100%;
}
