.activeDevice {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1.5rem;
  padding: 0.75rem 0 0.75rem 1.5rem;

  background: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 0.125rem;

  .deviceBlock {
    display: flex;

    .descriptionBlock {
      margin-left: 0.8rem;
    }
  }

  .logoutBlock {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }
}
