.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 80rem;
  margin: 0 auto;

  .errorImage {
    width: 50rem;
  }

  .errorMessage {
    margin-bottom: 1.75rem;
  }
}
