.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 80rem;
  margin: 0 auto;
  padding-top: 1.05rem;

  .error {
    width: 28.1875rem;
    height: 12.0005rem;
    margin-top: 8.07rem;
    margin-bottom: 2rem;
  }

  .errorMessage {
    margin-bottom: 1.75rem;
  }

  .toMain {
    text-decoration: none;
  }
}
