.profileBlock {
  display: flex;
  flex-direction: column;
  padding: 2.25rem 4rem 1.625rem 1.5rem;

  .tabSwitcher {
    margin-bottom: 24px;
  }
}

.imgBlock {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 13.875rem;
  height: 14.25rem;
  margin-bottom: 3.75rem;

  background-color: var(--color-dark-500);
}
