.createNewPasswordBlock {
  display: flex;
  flex-direction: column;

  width: 23.625rem;
  margin: 1.5rem auto 0;
  padding: 1.5rem;

  .title {
    margin-bottom: 2.31rem;
    text-align: center;
  }

  .password {
    margin-bottom: 1.5rem;
  }

  .formText {
    margin-top: 0.44rem;
    margin-bottom: 2.56rem;
    color: var(--color-light-900);
  }

  .submit {
    padding: 0.375rem 0;
  }
}
