.header {
  display: flex;
  justify-content: center;
  height: 80px;
  border-bottom: 1px solid #fffefe;
}

.container {
  display: flex;
  height: 100vh;

  .navbar {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 1px solid #fffefe;
  }
}
