.label {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  margin-left: 0.75rem;

  .checkboxRoot {
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.5rem;
    height: 1.5rem;

    border: 2px solid var(--color-light-500);
    border-radius: 0.25rem;

    &:focus {
      &::before {
        content: '';

        position: absolute;
        z-index: -1;

        width: calc(100% + 25px);
        height: calc(100% + 25px);

        background-color: var(--color-dark-500);
        border-radius: 50%;
      }
    }

    &:disabled {
      border: 2px solid var(--color-dark-100);
    }

    &:not(:disabled):hover {
      &::before {
        content: '';

        position: absolute;
        z-index: -1;

        width: calc(100% + 1.5625rem);
        height: calc(100% + 1.5625rem);

        background-color: var(--color-dark-300);
        border-radius: 50%;
      }
    }

    &:not(:disabled):active {
      &::before {
        content: '';

        position: absolute;
        z-index: -1;

        width: calc(100% + 1.5625rem);
        height: calc(100% + 1.5625rem);

        background-color: var(--color-dark-100);
        border-radius: 50%;
      }
    }

    .checkboxIndicator {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .active {
    background-color: var(--color-dark-100);
  }

  .unActive {
    background-color: transparent;
  }

  .checkboxRoot:disabled .checkboxIndicator {
    color: var(--color-light-700);
  }
}
