.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .headText {
    margin-top: 2.19rem;
  }

  .description {
    margin-top: 1.19rem;
  }

  .link {
    width: 11.375rem;
    margin-top: 3.38rem;
  }

  .pic {
    margin-top: 4.5rem;
  }
}
