@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: var(--color-light-100);
}

.large {
  @include typography(var(--font-size-xxl), var(--line-height-l), var(--font-weight-l));
}

.h1 {
  @include typography(var(--font-size-xl), var(--line-height-l), var(--font-weight-xl));
}

.h2 {
  @include typography(var(--font-size-l), var(--line-height-m), var(--font-weight-xl));
}

.h3 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-l));
}

.regular16 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-s));
}

.bold16 {
  @include typography(var(--font-size-m), var(--line-height-m), var(--font-weight-xl));
}

.regular14 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-s));
}

.medium14 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-m));
}

.bold14 {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-xl));
}

.small {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-s));
}

.sb_small {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-l));
}

.link,
.link:visited {
  @include typography(var(--font-size-s), var(--line-height-m), var(--font-weight-s));

  cursor: pointer;
  color: var(--color-accent-500);
  text-decoration: underline;
}

.s_link,
.s_link:visited {
  @include typography(var(--font-size-xs), var(--line-height-s), var(--font-weight-s));

  cursor: pointer;
  color: var(--color-accent-500);
  text-decoration: underline;
}
