.fieldContainer {
  position: relative;
  width: 100%;

  .search,
  .searchDisabled {
    position: absolute;
    top: 15%;
    left: 0.75rem;
    fill: var(--color-light-900);
  }

  .searchDisabled {
    fill: var(--color-dark-100);
  }

  &:active {
    .search {
      fill: var(--color-light-100);
    }
  }

  .field {
    width: 100%;
    padding: 6px 12px;

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    font-style: normal;
    line-height: var(--line-height-m);
    color: var(--color-light-100);

    background: transparent;
    border: 1px solid var(--color-dark-100);
    border-radius: 0.125rem;
    outline: 0;

    &::placeholder {
      color: var(--color-light-900);
    }

    &:hover {
      border: 1px solid var(--color-light-900);
    }

    &:disabled::placeholder {
      color: var(--color-dark-100);
    }

    &:disabled {
      border-color: var(--color-dark-100);
    }

    &:focus-visible,
    &:focus {
      border-color: transparent;
      outline: 2px solid var(--color-accent-700);
    }

    &:not(:disabled):active {
      outline: 1px solid var(--color-light-100);

      &::placeholder {
        color: var(--color-light-100);
      }
    }

    &.error {
      color: var(--color-danger-500);
      border-color: var(--color-danger-500);
    }
  }

  .buttonAction {
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: 0.75rem;
    bottom: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    padding: 0;

    background: transparent;
    border: 0;
    outline: 0;
  }
}
