.modalBlock {
  width: 60.75rem;

  .contentBox {
    padding: 0;
  }

  .modalContent {
    display: flex;
    width: 100%;
    height: 31.5rem;

    .filterPhoto {
      position: relative;

      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 50%;
      height: 99.7%;

      & img {
        object-fit: cover;
      }
    }

    .filters {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: center;

      width: 50%;
      height: 100%;
      padding: 1.5rem 3.375rem;

      .filter {
        cursor: pointer;

        display: flex;
        flex-direction: column;
        row-gap: 6px;
        align-items: center;

        width: 6.75rem;
        height: 6.75rem;

        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
