.accountManagement {
  display: flex;
  flex-direction: column;
  width: 100%;

  .radioHead {
    margin-bottom: 1.13rem;
  }

  .radioGroup {
    margin-bottom: 1.5rem;
    padding: 0.75rem 0 0.75rem 1.5rem;

    background: var(--color-dark-500);
    border: 1px solid var(--color-dark-300);
    border-radius: 0.125rem;
  }

  .paymentsBlock {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.33rem;

    .payments {
      display: flex;
      gap: 3.38rem;
      align-items: center;

      svg {
        cursor: pointer;
      }
    }
  }
}
