.updateProfileBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .field {
    margin-bottom: 1.5rem;
  }

  .errorField {
    margin-bottom: 1.5rem;
  }

  .saveChanges {
    position: absolute;
    right: 0;
    bottom: -84px;
  }
}
