.bellWrapper {
  position: relative;
  width: 24px;
  height: 24px;

  .count {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 13px;
    height: 13px;

    font-size: 10px;

    background-color: red;
    border-radius: 50%;
  }
}
