.forgotPasswordBlock {
  display: flex;
  flex-direction: column;

  width: 23.625rem;
  margin: 1.5rem auto 0;
  padding: 1.5rem;

  .title {
    margin-bottom: 2.31rem;
    text-align: center;
  }

  .formBlock {
    display: flex;
    flex-direction: column;

    .email {
      margin-bottom: 0.44rem;
    }

    .text {
      margin-bottom: 1.06rem;
      color: var(--color-light-900);
    }

    .submit {
      margin-bottom: 1.5rem;
      padding: 0.375rem 0;
    }

    .backBtn {
      margin-bottom: 1.5rem;
    }
  }
}

.buttonBlock {
  display: flex;
  justify-content: end;
  padding-right: 24px;
  padding-bottom: 36px;
}
