.forgotPasswordBlock {
  display: flex;
  flex-direction: column;

  width: 23.625rem;
  margin: 1.5rem auto 0;
  padding: 1.5rem;

  .title {
    margin-bottom: 1.69rem;
    text-align: center;
  }

  .formBlock {
    display: flex;
    flex-direction: column;

    .email {
      margin-bottom: 0.44rem;
    }

    .submit {
      padding: 0.375rem 0;
    }

    .text {
      margin-bottom: 1.06rem;
      color: var(--color-light-900);
    }
  }
}
