.unregisterBlock {
  margin: 0 auto;

  .usersCount {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 4.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2.25rem;
    padding: 0.75rem 1.5rem;

    border: 1px solid var(--color-dark-300);
    border-radius: 0.125rem;

    .count {
      display: flex;
      flex-shrink: 0;
      gap: 0.1875rem;
      justify-content: center;

      padding: 0.5rem 0.75rem 0.625rem;

      border: 1px solid var(--dark-300, #333);
      border-radius: 0.125rem;
    }

    .countList {
      display: flex;
    }

    .countItem {
      padding: 9px 10px;
      border-right: 1px solid var(--color-dark-300);

      &:first-child {
        padding-left: 7px;
      }

      &:last-child {
        padding-right: 7px;
        border-right: none;
      }
    }
  }

  .posts {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-around;
  }
}
