.profileBlock {
  display: flex;
  flex-direction: column;
  padding: 2.25rem 4rem 1.625rem 1.5rem;

  .mainInfo {
    display: flex;
    gap: 2.37rem;
    margin-bottom: 3.3rem;

    .photoBlock {
      .photo {
        width: 192px;
        height: 192px;
        object-fit: cover;
        border-radius: 50%;
      }

      .defaultPhoto {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;

        width: 192px;
        height: 192px;

        background-color: var(--color-dark-500);
        border-radius: 50%;
      }
    }

    .descriptionBlock {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 1.3rem;

      .nameAndSettings {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .statistic {
        display: flex;
        gap: 6.25rem;
      }
    }
  }
}
