.container {
  display: flex;
  max-width: 80rem;
  height: calc(100vh - 3.75rem);
  margin: 0 auto;

  .main {
    flex-grow: 1;

    .profileBlock {
      display: flex;
      flex-direction: column;
      padding: 2.25rem 4rem 1.625rem 1.5rem;
    }
  }
}
